<h4>Application Settings</h4>
<div class="ui-grid ui-grid-responsive ui-grid-pad" style="max-width: 500px;">
    <div class="ui-grid-row">
        <div class="ui-grid-col-5" style="text-align:left">
            <label for="applicationName">Application Name:</label>
        </div>
        <div class="ui-grid-col-7" style="text-align:left">
            <input type="text"
                   id="applicationName"
                   [(ngModel)]="applicationName"
                   name="applicationName"
                   #name="ngModel"
                   style="width: 300px;"
                   pInputText>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5" style="text-align:left">
            <label for="StorageFileType">File Storage Type:</label>
        </div>
        <div class="ui-grid-col-7" style="text-align:left">
            <p-dropdown id="StorageFileType"
                        [options]="storageFileTypeDropdown"
                        [(ngModel)]="storagefiletype"
                        [style]="{'width':'300px'}"></p-dropdown>
        </div>
    </div>
    <div class="ui-grid-row" *ngIf="storagefiletype == 'FileSystem'">
        <div class="ui-grid-col-5" style="text-align:left">
            <label for="fileUploadPathName">File Upload Path:</label>
        </div>
        <div class="ui-grid-col-7" style="text-align:left">
            <input type="text"
                   id="fileUploadPath"
                   [(ngModel)]="fileUploadPath"
                   name="fileUploadPathName"
                   #name="ngModel"
                   style="width: 300px;"
                   pInputText>
        </div>
    </div>
    <div class="ui-grid-row" *ngIf="storagefiletype == 'AzureStorage'">
        <div class="ui-grid-col-5" style="text-align:left">
            <label for="azurestorageconnectionName">Azure Storage Connection:</label>
        </div>
        <div class="ui-grid-col-7" style="text-align:left">
            <input type="text"
                   id="azurestorageconnection"
                   [(ngModel)]="azurestorageconnection"
                   name="azurestorageconnectionName"
                   #name="ngModel"
                   style="width: 300px;"
                   pInputText>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5" style="text-align:left">
            <label for="UploadPermission">File Upload Permission:</label>
        </div>
        <div class="ui-grid-col-7" style="text-align:left">
            <p-dropdown id="UploadPermission"
                        [options]="uploadPermissionDropdown"
                        [(ngModel)]="selectedPermission"
                        [style]="{'width':'300px'}"></p-dropdown>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5" style="text-align:left">
            <label for="AllowUserRegistration">Allow User Registration:</label>
        </div>
        <div class="ui-grid-col-7" style="text-align:left">
            <p-dropdown id="AllowUserRegistration"
                        [options]="allowUserRegistrationDropdown"
                        [(ngModel)]="selectedAllowUserRegistration"
                        [style]="{'width':'100px'}"></p-dropdown>
        </div>
    </div>
    <div class="ui-grid-row" *ngIf="selectedAllowUserRegistration">
        <div class="ui-grid-col-5" style="text-align:left">
            <label for="VerifiedRegistration">Verified Registration:</label>
        </div>
        <div class="ui-grid-col-7" style="text-align:left">
            <p-dropdown id="VerifiedRegistration"
                        [options]="verifiedRegistrationDropdown"
                        [(ngModel)]="selectedVerifiedRegistration"
                        [style]="{'width':'100px'}"></p-dropdown>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5" style="text-align:left">
            <label for="applicationGUID">Application GUID:</label>
        </div>
        <div class="ui-grid-col-7" style="text-align:left">
            {{applicationGUID}}
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="border:hidden;">

                <button pButton type="button"
                        (click)="Save()"
                        class="ui-button-success"
                        label="Save" icon="fa-save"></button>

            </div>
        </div>
    </div>
</div>