@inject NavigationManager NavigationManager
<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <form method="post" action="LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
    <button class="btn btn-primary" @onclick="Register">Register</button>
    &nbsp;
    <button class="btn btn-secondary" @onclick="LogIn">Log In</button>
    </NotAuthorized>
</AuthorizeView>
@code {
    private void Register()
    {

    }

    private void LogIn()
    {
      NavigationManager.NavigateTo("logincontrol", true);
    }
}