@inherits LayoutComponentBase
<BlazoredToasts />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <partial name="_LoginPartial" />
            <a href="https://github.com/ADefWebserver/ADefHelpDesk/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
