<h4>User Manager</h4>
<div class="ui-g">
    <div class="ui-g-12 ui-md-4 ui-lg-2">
        <div class="ui-g">
            <div class="ui-grid-col-6">
                <label for="SearchBox">Search:</label>
            </div>
            <div class="ui-grid-col-6">
                <input type="text" id="SearchBox" pInputText [(ngModel)]="searchString" (keyup)="onSearchParameterChange()" />
            </div>
        </div>
    </div>
</div>
<p-dataTable [value]="SearchResults" [responsive]="true" [loading]="loading" [lazy]="true" [paginator]="true" [rows]="rowsPerPage"
             [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
             [(first)]="first" [totalRecords]="totalUsers" (onLazyLoad)="loadUsersLazy($event)" selectionMode="single"
             (onRowSelect)="onUserSelect($event)">
    <p-column field="userName" header="User Name" [style]="{'text-align':'left'}"></p-column>
    <p-column field="firstName" header="First Name" [style]="{'text-align':'left'}"></p-column>
    <p-column field="lastName" header="Last Name" [style]="{'text-align':'left'}"></p-column>
    <p-column field="email" header="Email" [style]="{'text-align':'left'}"></p-column>
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </p-footer>
</p-dataTable>
<!-- DIALOG -->
<p-dialog header="Edit User" [(visible)]="displayDialog" width="500" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="spinner" *ngIf='showWaitGraphic'>
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    <div *ngIf='!showWaitGraphic'>
        <p-tabView [activeIndex]="EditUserIndex" (onChange)="editUserTabChange($event)">
            <p-tabPanel header="Details">
                <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label for="userName">User Name</label></div>
                        <div class="ui-grid-col-8">
                            <input pInputText id="userName" [(ngModel)]="user.userName" *ngIf="user.userId == -1" />
                            <span *ngIf="user.userId > -1">{{user.userName}}</span>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label for="firstName">First Name</label></div>
                        <div class="ui-grid-col-8">
                            <input pInputText id="firstName" [(ngModel)]="user.firstName" />
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label for="lastName">Last Name</label></div>
                        <div class="ui-grid-col-8">
                            <input pInputText id="lastName" [(ngModel)]="user.lastName" />
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label for="email">Email</label></div>
                        <div class="ui-grid-col-8">
                            <input pInputText id="email" [(ngModel)]="user.email" />
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label for="isSuperUser">Is SuperUser</label></div>
                        <div class="ui-grid-col-8">
                            <p-checkbox id="isSuperUser" [(ngModel)]="user.isSuperUser" binary="true"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label for="password">Password</label></div>
                        <div class="ui-grid-col-8">
                            <input pInputText id="password" [(ngModel)]="user.password" type="password" />
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Roles">
                <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user">
                    <p-dataTable [value]="user.userRoles"
                                 [scrollable]="true"
                                 scrollHeight="200px"
                                 [rows]="10"
                                 [responsive]="true">
                        <p-column [style]="{'width':'50px'}">
                            <ng-template let-role="rowData" pTemplate="body">
                                <button type="button" pButton (click)="deleteRole(role)" icon="fa-trash"></button>
                            </ng-template>
                        </p-column>
                        <p-column field="roleName"></p-column>
                        <p-footer>
                            <div class="ui-helper-clearfix">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-8" style="text-align:left">
                                        <p-dropdown id="AddRoles"
                                                    [options]="rolesDropdown"
                                                    [(ngModel)]="selectedRole"
                                                    appendTo="body"
                                                    [style]="{'width':'250px'}"></p-dropdown>
                                    </div>
                                    <div class="ui-grid-col-4" style="text-align:right">
                                        <button type="button" pButton icon="fa-plus" (click)="addRole()" label="Add Role"></button>
                                    </div>
                                </div>
                            </div>
                        </p-footer>
                    </p-dataTable>
                </div>
            </p-tabPanel>
        </p-tabView>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" class="ui-button-danger" pButton icon="fa-trash" (click)="delete()" label="Delete"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </div>
</p-dialog>