@page "/profilecontrol"
@inherits OwningComponentBase
@using AdefHelpDeskBase.Controllers;
@using AdefHelpDeskBase.Models
@using ADefHelpDeskApp.Classes
@inject IConfiguration _configuration
@inject ProfileController _ProfileController
@inject NavigationManager NavigationManager

<h4>Profile</h4>
<AuthorizeView>
    <Authorized>
        <table class="form-group" cellpadding="4" cellspacing="4">
            <tbody>
                <tr>
                    <td>
                        <label for="Title" class="control-label" style="font-weight: bold">Username: </label>
                    </td>
                    <td>
                        <label class="control-label">@strUserName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Title" class="control-label" style="font-weight: bold">First Name: </label>
                    </td>
                    <td>
                        <input size="50" id="FirstName" class="form-control" @bind="strFirstName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Title" class="control-label" style="font-weight: bold">Last Name: </label>
                    </td>
                    <td>
                        <input size="50" id="LastName" class="form-control" @bind="strLastName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Title" class="control-label" style="font-weight: bold">Email Address: </label>
                    </td>
                    <td>
                        <input size="50" type="email" id="Email" class="form-control" @bind="strEmail" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Title" class="control-label" style="font-weight: bold">Original Password: </label>
                    </td>
                    <td>
                        <input type="password" id="Password" class="form-control" @bind="strOrginalPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Title" class="control-label" style="font-weight: bold">New Password: </label>
                    </td>
                    <td>
                        <input type="password" id="Password" class="form-control" @bind="strNewPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" label="Update"
                                class="btn btn-success"
                                @onclick="UpdateUser">
                            Update
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </Authorized>
    <NotAuthorized>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>
@if (@Message != "")
{
    <h4 style="color:red">@Message</h4>
}
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    System.Security.Claims.ClaimsPrincipal CurrentUser;

    string Message = "";

    string strUserName = "";
    string strFirstName = "";
    string strLastName = "";
    string strEmail = "";
    string strOrginalPassword = "";
    string strNewPassword = "";

    protected override async Task OnInitializedAsync()
    {
        // Get database conection string
        string strDefaultConnection = _configuration["ConnectionStrings:DefaultConnection"];

        // Get the current user
        CurrentUser = (await authenticationStateTask).User;
        DTOUser objDTOUser = UtilitySecurity.UserFromUserName(CurrentUser.Identity.Name, strDefaultConnection);

        strUserName = objDTOUser.userName;
        strFirstName = objDTOUser.firstName;
        strLastName = objDTOUser.lastName;
        strEmail = objDTOUser.email;

        _ProfileController = (ProfileController)ScopedServices.GetService(typeof(ProfileController));
    }

    private async void UpdateUser()
    {
        try
        {
            Message = "";

            ProfileDTO objProfileDTO = new ProfileDTO();
            objProfileDTO.email = strEmail;
            objProfileDTO.firstName = strFirstName;
            objProfileDTO.lastName = strLastName;
            objProfileDTO.orginalpassword = strOrginalPassword;
            objProfileDTO.password = strNewPassword;

            // ProfileStatus to return
            ProfileStatus objProfileStatus = new ProfileStatus();

            objProfileStatus = await _ProfileController.UpdateUser(objProfileDTO, CurrentUser.Identity.Name);

            if (!objProfileStatus.isSuccessful)
            {
                Message = objProfileStatus.status;
                StateHasChanged();
                return;
            }
            else
            {
                string url = NavigationManager.BaseUri;
                NavigationManager.NavigateTo(url, true);
            }
        }
        catch (Exception ex)
        {
            Message = ex.Message;
            StateHasChanged();
            return;
        }
    }
}