<h4>User Assignment Roles</h4>

<div class="ui-helper-clearfix" style="width:50%">
    <p-dataTable [value]="roles" [loading]="loading"
                 selectionMode="single"
                 [(selection)]="selectedRole"
                 (onRowSelect)="onRowSelect($event)"
                 [paginator]="false" 
                 [responsive]="true">
        <p-column field="roleName"></p-column>
        <p-footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
            </div>
        </p-footer>
    </p-dataTable>
</div>
<p-dialog header="Role Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="role">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="roleName">Role Name</label></div>
            <div class="ui-grid-col-8"><input pInputText id="roleName" [(ngModel)]="role.roleName" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" class="ui-button-danger" pButton icon="fa-trash" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
