<div class="spinner" *ngIf='showWaitGraphic'>
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<div *ngIf='!isMigrateMode && !isVerificationMode'>
    <div *ngIf='!showWaitGraphic'>
        <form [formGroup]="loginForm" (ngSubmit)="logIn($event)">
            <input formControlName="username" pInputText size="30"
                   type="text" placeholder="Your Username">
            <br /><br />
            <input formControlName="password" pInputText size="30"
                   type="password" placeholder="Your password">
            <br /><br />
            <button pButton type="submit" label="Log In" class="ui-button-success" style="float: right;"></button>
        </form>
    </div>
</div>
<div *ngIf='isMigrateMode'>
    <div *ngIf='!showWaitGraphic'>
        <form [formGroup]="MigrateForm" (ngSubmit)="MigratelogIn($event)">
            <p>Your account needs to be migrated to the new authentication system.</p>
            <p>Please provide your original password and a new one that meets the new requirements.</p>
            <br />
            <div><b>User name:</b> {{username}}</div>
            <br />
            <input formControlName="password" pInputText size="30" value="password"
                   type="password" placeholder="Orginal Password">
            <br /><br />
            <input formControlName="passwordNew" pInputText size="30" value="passwordNew"
                   type="password" placeholder="New password">
            <br /><br />
            <button pButton type="submit" label="Log In" class="ui-button-success" style="float: right;"></button>
        </form>
    </div>
</div>
<div *ngIf='isVerificationMode'>
    <div *ngIf='!showWaitGraphic'>
        <form [formGroup]="VerificationForm" (ngSubmit)="VerificationlogIn($event)">
            <p>This website requires all accounts to be verified by email.</p>
            <p>Please provide the verification code that was emailed to you.</p>
            <br />
            <input formControlName="verificationCode" pInputText size="30" value="verificationCode"
                   placeholder="Verification Code">
            <br /><br />
            <button pButton type="submit" label="Log In" class="ui-button-success" style="float: right;"></button>
        </form>
    </div>
</div>
