@using System.IO;
@using System.Runtime.Loader;

<Router AppAssembly="ADefHelpDeskAppAssembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="ADefHelpDeskAppMainLayout" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="ADefHelpDeskAppMainLayout">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@code {
    System.Reflection.Assembly ADefHelpDeskAppAssembly;
    Type ADefHelpDeskAppMainLayout;

    protected override void OnInitialized()
    {
        string path =
            Path.GetFullPath(@"CustomModules\ADefHelpDeskApp.dll");

        ADefHelpDeskAppAssembly =
            AssemblyLoadContext.Default.LoadFromAssemblyPath(path);

        ADefHelpDeskAppMainLayout =
            ADefHelpDeskAppAssembly
            .GetType("ADefHelpDeskApp.Components.Layout.MainLayout");
    }
}