@page
@model AdefHelpDeskBase.Pages.IndexModelRuntime
@{
    Layout = null;
}
<!-- ** In a deployment package this is renamed to index.cshtml ** -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AdefHelpDesk</title>
    <base href="@Model.PathOfVirtualDirectory/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- ** UPDATE ** -->
    <link href="styles.4c6199031ac709985acc.bundle.css" rel="stylesheet" />
    <!-- ** UPDATE ** -->

</head>
<body>
    <!-- Angular Code -->
    <app>
        <div class="spinner">
            <div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div>
        </div>
    </app>
    <style>
        .spinner {
            margin: 100px auto;
            width: 50px;
            height: 40px;
            text-align: center;
            font-size: 10px;
        }

            .spinner > div {
                background-color: #333;
                height: 100%;
                width: 6px;
                display: inline-block;
                -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
                animation: sk-stretchdelay 1.2s infinite ease-in-out;
            }

            .spinner .rect2 {
                -webkit-animation-delay: -1.1s;
                animation-delay: -1.1s;
            }

            .spinner .rect3 {
                -webkit-animation-delay: -1.0s;
                animation-delay: -1.0s;
            }

            .spinner .rect4 {
                -webkit-animation-delay: -0.9s;
                animation-delay: -0.9s;
            }

            .spinner .rect5 {
                -webkit-animation-delay: -0.8s;
                animation-delay: -0.8s;
            }

        @@-webkit-keyframes sk-stretchdelay {
            0%, 40%, 100% {
                -webkit-transform: scaleY(0.4);
            }

            20% {
                -webkit-transform: scaleY(1.0);
            }
        }

        @@keyframes sk-stretchdelay {
            0%, 40%, 100% {
                transform: scaleY(0.4);
                -webkit-transform: scaleY(0.4);
            }

            20% {
                transform: scaleY(1.0);
                -webkit-transform: scaleY(1.0);
            }
        }
    </style>

    <!-- ** UPDATE ** -->
    <script type="text/javascript" src="inline.318b50c57b4eba3d437b.bundle.js"></script>
    <script type="text/javascript" src="polyfills.528fb9a6988c03e28a19.bundle.js"></script>
    <script type="text/javascript" src="scripts.1cd05d3e7f9761ff7fcc.bundle.js"></script>
    <script type="text/javascript" src="main.fff0f6b6a1b2e9469250.bundle.js"></script>
    <!-- ** UPDATE ** -->

</body>
</html>
